.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_623603280_367828.jpg");
  background-size: cover;
}
.loginTitle {
  font-size: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginForm {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.loginForm.loginFormLabel {
  margin: 50px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
}
.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 15px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}
